:root {
  font-size: 16px;
  --red: #ca3413;
  --green: #235e3d;
  --blue: #1f87c4;
  --white: #ffffff;
  --light: #cccccc;
  --gray: #808080;
  --dark: #333333;
  --black-alpha: rgba(0, 0, 0, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--dark);
  font-family: 'Roboto', sans-serif;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 65%;
  min-width: 900px;
  margin: 2em auto 0;
  background-color: var(--white);
  padding: 1.5em;
  box-shadow: 0 0 2px var(--black-alpha);
}

.logo {
  padding: 0.5em 0;
  font-size: 2rem;
  letter-spacing: 0.25em;
  background-color: var(--main);
  color: var(--white);
  text-align: center;
  max-width: 12em;
  margin-bottom: 0.75em;
}

.menu {
  background-color: var(--dark);
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

.menu li {
  height: 3em;
  line-height: 3em;
  list-style: none;
  display: inline-block;
}

.menu a {
  display: block;
  color: var(--white);
  text-decoration: none;
  padding: 0 1.25em;
  transition: background-color 300ms;
}

.menu a:hover {
  background-color: var(--main);
}

.bx-wrapper {
  height: 16em !important;
  margin-bottom: 3em !important;
}

.bx-viewport,
.bxslider,
.bxslider > div {
  height: 100% !important;
}

.content {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  column-gap: 2em;
}

.post {
  padding: 0.5em;
  border: 1px solid var(--light);
  margin-bottom: 1em;
}

.post h2 {
  font-size: 2rem;
  margin-bottom: 0.25em;
}

.post small {
  display: block;
  font-size: 0.75rem;
  color: var(--gray);
  margin-bottom: 1em;
}

.post p {
  line-height: 1.5em;
  margin-bottom: 0.75em;
  text-align: justify;
}

.post a {
  display: inline-block;
  font-size: 0.95rem;
  cursor: pointer;
  padding: 0.75em 1em;
  background-color: var(--light);
  color: var(--dark);
  text-decoration: none;
  transition: background-color 300ms, color 300ms;
}

.post a:hover {
  color: var(--white);
  background-color: var(--main);
}

.whoami {
  margin-bottom: 2em;
}

.whoami h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  background: url('../img/lines.png') repeat-x;
  background-position: center;
}

.whoami h2 span {
  padding: 0 0.5em;
  background-color: var(--white);
}

.whoami img {
  display: block;
  width: 100%;
  margin: 0 auto 1em;
}

.whoami p {
  font-size: 0.95rem;
  text-align: justify;
}

form h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

form label {
  cursor: pointer;
  font-size: 0.95rem;
  display: block;
  width: 100%;
  margin-bottom: 0.25em;
}

form input,
form select {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--light);
  margin-bottom: 1em;
  outline: none;
  background: none;
}

form input:focus,
form select:focus {
  border: 1px solid var(--main);
}

form button {
  font-weight: 700;
  color: var(--white);
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 0.75em 0;
  border: none;
  background-color: var(--main);
  cursor: pointer;
  transition: background-color 300ms;
}

form button:hover {
  background-color: var(--dark);
}

form .form-error {
  font-size: 0.95rem;
  display: block;
  text-align: center;
  margin: 1em 0;
  color: var(--red);
}

form .form-error.alert strong,
form .form-error.alert li {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 0.25em;
  list-style: none;
}

.footer {
  width: 65%;
  min-width: 900px;
  margin: 1em auto;
  background-color: var(--black-alpha);
  color: var(--light);
  text-align: center;
  padding: 1em 0;
}

.theme-selector {
  position: fixed;
  top: 40%;
  width: 4em;
  height: 10em;
  background: var(--black-alpha);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.theme-selector div {
  width: 2em;
  height: 2em;
  border: 1px solid var(--white);
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 300ms;
}

.theme-selector div:hover {
  opacity: 1;
}

.theme-selector .to-red {
  background: var(--red);
}

.theme-selector .to-green {
  background: var(--green);
}

.theme-selector .to-blue {
  background: var(--blue);
}

.go-to-top {
  display: none;
  background-color: var(--main-alpha);
  background-image: url('../img/arrow-up.svg');
  background-size: 0.5em;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--white);
  position: fixed;
  bottom: 1em;
  right: 1em;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  font-size: 3rem;
  cursor: pointer;
  transition: background-color 300ms;
}

.go-to-top:hover {
  background-color: var(--main);
}

.accordion-container {
  margin-bottom: 2em;
}

.accordion-container > h2 {
  margin-bottom: 0.55em;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  margin: 0.5em 0 0.75em;
  font-size: 4rem;
  color: var(--gray);
}

@media screen and (max-width: 1024px) {
  .container,
  .footer {
    min-width: 700px;
  }

  .content {
    column-gap: 1em;
  }
}

@media screen and (max-width: 768px) {
  .container,
  .footer {
    width: calc(100% - 6em);
    min-width: 300px;
  }

  .logo {
    max-width: initial;
  }

  .menu li {
    display: block;
    text-align: center;
    height: 4em;
    line-height: 4em;
    border-bottom: 1px solid var(--white);
  }

  .content {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .container,
  .footer {
    width: calc(100% - 2em);
  }
}
